@scope(.links-page)
{
    :scope{
        /* sizes */
        width: 100vw;
        height: if(media(width <= 768px):105vh);
        /* flex */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    @scope(.links)
    {
        :scope{
            /* sizes */
            width: fit-content;
            /* grid */
            display: grid;
            grid-template-columns:if(media(width > 768px):auto auto;else:auto);
            align-items: center;
            gap: 25px;
        }
    }
}