::-webkit-scrollbar{
    /* sizes */
    width: 5px;
}
::-webkit-scrollbar-track{
    /* colors */
    background-color: #EEEEEE;
}
::-webkit-scrollbar-thumb{
    /* colors */
    background-color: #444;
    /* radius */
    border-radius: 2.5px;
    corner-shape: squircle;
}