*{
  /* outline */
  outline: 0;
  /* text styles */
  text-transform: capitalize;
  font-family: bricolage-grotesque;
}
body {
  /* sizes */
  width: 100vw;
  height: 100vh;
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text styles */
  text-align: center;
  /* another styles*/
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.link {
  /* colors */
  color: #000;
  /* text styles */
  text-decoration: none;
  /* another styles*/
  cursor: pointer;
  /* pseudo classes */
  &:hover {
    /* colors */
    color: #FE6F5E;
  }
}