body {
  margin: 0;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Bricolage grotesque font*/
@font-face {
  font-family:bricolage-grotesque;
  src: url(../public/Fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}

/* Rubik font */
@font-face {
  font-family:rubik;
  src: url(../public/Fonts/Rubik/Rubik-VariableFont_wght.ttf);
}